# Production WorkFlow - Working Model

name: Production WorkFlow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events on the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  print-details:
    runs-on: ubuntu-latest
    steps:
      - name: echo-default-env-variables
        run: |
          echo "Home: ${HOME}"
          echo "GITHUB_WORKFLOW: ${GITHUB_WORKFLOW}"
          echo "GITHUB_ACTIONS: ${GITHUB_ACTIONS}"
          echo "GITHUB_ACTOR: ${GITHUB_ACTOR}"
          echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
          echo "GITHUB_EVENT_NAME: ${GITHUB_EVENT_NAME}"
          echo "GITHUB_WORKSPACE: ${GITHUB_WORKSPACE}"
          echo "GITHUB_SHA: ${GITHUB_SHA}"
          echo "GITHUB_REF: ${GITHUB_REF}"
  cleaner:
    runs-on: ubuntu-latest
    steps:
      - name: Runner workspace path
        run: |
          echo "Cleaning up previous run"
          rm -rf "${{ github.workspace }}"
  
  publish-uipath-nuget-package :
    needs: cleaner
    runs-on : windows-latest
    environment: Prod
    env:
      # assign env var from github production environment secrets 
      PROJECT_NAME: Test_Deployment_Process
      PROJECT_FOLDER: ${{ github.action_path }}
      ORCH_URL: ${{ secrets.UIPATH_ORCHESTRATOR_URL }}
      ORCH_TENANT: ${{ secrets.UIPATH_ORCHESTRATOR_TENANT }}
      ORCH_CLIENT_ID: ${{ secrets.UIPATH_CLIENT_ID }}
      ORCH_USER_KEY: ${{ secrets.UIPATH_USERKEY }}
      ORCH_ACC_NAME: ${{ secrets.UIPATH_ORCHESTRATOR_ACCOUNT_NAME }}
      Package_Name: Test_Deployment_Process.1.0.1.nupkg
    steps:
      - name: print-on-screen
        run: |
          echo "printing the Orch URL: "
          echo ${{env.ORCH_URL}} | sed 's/./& /g'
